    simple-component {
        display: block;
        border: 1px black solid;
        flex-grow: 0;
        width: 250px;
        height: 250px;
        margin: 10px;
        background-color: darksalmon;
        padding: 20px;
      }
      /* simple-component > div > p {
        font-family: cursive;
        font-size: 2rem;
        
      } */
  
      .input-container {
        display: flex;
        flex-direction: column;
        grid-area: sidebar;
      }
     
      #component-container {
        display: flex;
        grid-area: main;
      }